@{
    ViewData["Title"] = "Products";
    Layout = "_ProductsList";
}
@model IEnumerable<BookStore2024.ViewModels.ProductVM>

@section BreadCrumb {
    <div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="images/parallax/bgparallax-07.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tg-innerbannercontent">
                        <h1>All Products</h1>
                        <ol class="tg-breadcrumb">
                            <li><a href="javascript:void(0);">home</a></li>
                            <li class="tg-active">Products</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="tg-productgrid">
    <div class="tg-refinesearch">
        <span>showing @Model.Count() of @Model.Count() total</span>
        <form class="tg-formtheme tg-formsortshoitems">
            <fieldset>
                <div class="form-group">
                    <label>sort by:</label>
                    <span class="tg-select">
                        <select>
                            <option>name</option>
                            <option>name</option>
                            <option>name</option>
                        </select>
                    </span>
                </div>
                <div class="form-group">
                    <label>show:</label>
                    <span class="tg-select">
                        <select>
                            <option>8</option>
                            <option>16</option>
                            <option>20</option>
                        </select>
                    </span>
                </div>
            </fieldset>
        </form>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <div class="tg-postbook">
                <figure class="tg-featureimg">
                    <div class="tg-bookimg">
                        <div class="tg-frontcover"><img src="@item.ProductImg" alt="ProductImg"></div>
                        <div class="tg-backcover"><img src="@item.ProductImg" alt="ProductImg"></div>
                    </div>
                    <a class="tg-btnaddtowishlist" href="javascript:void(0);">
                        <i class="icon-heart"></i>
                        <span>add to wishlist</span>
                    </a>
                </figure>
                <div class="tg-postbookcontent">
                    <ul class="tg-bookscategories">
                        <li><a href="javascript:void(0);">@item.CategoryName</a></li>
                    </ul>
                    @if (item.Discount != 0)
                    {
                        <div class="tg-themetagbox">
                            <span class="tg-themetag">sale</span>
                        </div>
                    }
                    <div class="tg-booktitle">
                        <h3><a href="javascript:void(0);">@item.ProductName - [@item.FormatName]</a></h3>
                    </div>
                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">@item.AuthorName</a></span>
                    <span class="tg-stars"><span></span></span>
                    <span class="tg-bookprice">
                        @if (item.Discount != 0)
                        {
                            <ins>$@(item.Price - item.Discount)</ins>
                            <del>$@item.Price</del>
                        }
                        @if (item.Discount == 0)
                        {
                            <ins>$@item.Price</ins>
                        }
                    </span>
                    <a class="tg-btn tg-btnstyletwo" href="javascript:void(0);">
                        <i class="fa fa-shopping-basket"></i>
                        <em>Add To Basket</em>
                    </a>
                </div>
            </div>
        </div>
    }

</div>